.bd_edit-profile-stack {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}

.bd_display-email {
    font-family: 'Inter', sans-serif;
}
